#headnav{
	background: url("../images/back_0.png") no-repeat;
	width: 100%;
	background-position: center;
	height: 108px;
	box-sizing: border-box;
	margin-top: 58px;
	border-bottom: 1px solid #cccccc;
}
#headnav .nav_neirong{
	width: 1190px;
	height: 108px;
	margin: 0 auto;
	padding-top: 20px;
	box-sizing: border-box;
}
#headnav .right_nav{
	width: 700px;
	height: 70px;
	line-height: 70px;
}
#headnav li{
	float: right;
	margin-right: 32px;
}
#headnav li>a{
	text-decoration: none;
	font-size: 16px;
	color: #0C1222;
}
#headnav .vip_login_btn{
	width: 142px;
    height: 44px;
    color: #0C1222;
    border: 2px solid #0C1222;
    background-color: transparent;
    outline: none;
    font-size: 18px;
    text-decoration: none;
    border-radius: 4px;
    line-height: 29px;
    margin-top: 12px;
    text-align: center;
}
#headnav .logo{
    background: url(../images/logo.png) no-repeat;
    width: 179px;
    height: 70px;
    background-size: contain;
}
#dingbuad img{
	margin-right:300px;
	width: 18px;
	height: 18px;
}
.modal-backdrop{
	display: none;
}
#breadcrumb{
	width: 1190px;
	margin: 0 auto;
	margin-top: 12px;
}
#breadcrumb>a{
	color: #666666;
}
#breadcrumb>a+a:before {
    padding: 0 5px;
    content: "";
    background: url(../images/mianbaoxiejiantou.svg) no-repeat;
    background-position-y: 2px;
    width: 6px;
    height: 10px;
    margin: 0 0px;
    background-size: 80%;
}
#pc_body{
	margin: 0 auto;
}
.width_12{
	width: 1200px;
	margin: 0 auto;
}
#pc_wzxq{
    margin:0 auto;
    margin-bottom: 30px;
}
#wzxq_content{
	margin: 0 auto;
}
#wzxq_content .pc_xgqmgl{
	display: inline-block;
    width: 4px;
    height: 24px;
    margin-right: 8px;
    background-color: red;
    margin-top: 3px;
}


.pc_xgqmgl_h3{
	display: inline-block;
	line-height: 30px;
	margin: 0 !important;
	position: absolute;
	left: 10px;
}
.zhengwen{
	display: inline-block;
    width: 750px;
}

#wzxq_content h1{
    font-size: 20px;
}
#wzxq_content hr{
	margin-top: 20px;
    width: 100%;
    border-top: 2px solid #0C1222;

}
.biaodan_guai{
	margin-top: -18px !important;
	
}
.pc_zhaiyao{
    border: 1px solid #cccccc;
    box-sizing: border-box;
    padding-left: 9px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 9px;
    color: #666666;
}
.pc_wzxq_content{
	width: 750px;
}
.lanmu_xiangguan{
	background-color: red;
	margin-top: 20px;
}
.lanmu_hou5{
	margin-right: 30px;
}

.lanmu_list_a{
	line-height: 28px;
	color: #666666;
}
.lanmu_qian_hou{
	font-size: 16px;
	font-weight: bolder;
}


.xgwz_article{
	display: block;
	line-height: 28px;
}
#new_quanub2{
	width: 1200px;
	margin: 0 auto;
	height: 10px;
	/*background-color: #DA9494;*/
}
#new_content2{
	width: 750px;
	float: left;
}
#new_biaodan2{
	width: 440px;
	float: right;
}
.title_wzxq{
	width: 100%;
}
.wzxq_yaosu{
	width: 100%;
}
.wzxq_des{
	width: 100%;

}
.wzxq_zhengwen{
	width: 100%;
}
.pc_gdqmgl_id{
	width: 100%;
}
.pc_xgqmgl_id{
	width: 100%;

}
.footer_class{
	margin-top: 20px;
	width: 100%;
	clear:both;
}
.pc_gdqmgl_zszs{
	height: 28px;
	position: relative;
	margin-top: 16px;
	margin-bottom: 16px;
}
.pc_xgqmgl_zs{
	display: inline-block;
	width: 4px;
	height: 28px;
	background-color: red;
	position: absolute;
}





