<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/csjg_mz_ku.js"></script>
    <link rel="stylesheet" href="../static/css/csjg.css">
    <link rel="stylesheet" href="../static/css/quanju.css">
    <script>
		var _hmt = _hmt || [];
		(function() {
			var hm = document.createElement("script");
			hm.src = "https://hm.baidu.com/hm.js?5b37103acf8363b67cf5a20048902f2b";
			var s = document.getElementsByTagName("script")[0]; 
			s.parentNode.insertBefore(hm, s);
		})();
	</script>
</head>
<body>
<div class="sm_xj">
    <ul class="nav">
        <li class="mulu_1 selected_0">
            <p>95分</p>
            <span>占综合评分30% </span>
        </li>
        <li class="mulu_2">
            <p>95分</p>
            <span>占综合评分30% </span>
        </li>
        <li class="mulu_3">
            <p>95分</p>
            <span>占综合评分30% </span>
        </li>
        <li class="mulu_4">
            <p>95分</p>
            <span>占综合评分30% </span>
        </li>
        <li class="mulu_5">
            <p>95分</p>
            <span>占综合评分30% </span>
        </li>
        <li class="mulu_6">
            <p>95分</p>
            <span>占综合评分30% </span>
        </li>
    </ul>
    <div class="content">
        <div class="list xj_see">
            <div class="xiangjie_ny fr">
                <div class="biaoti1"><h4>文字解释</h4></div>
                <div class="first_jieshi">
                    <div class="first_name name fl">
                        <h3>佳</h3>
                    </div>
                    <div class="first_content neirong fr">
                        <ul>
                            <li>
                                <h5 class="jieshi_h5">字义解释:</h5>
                                <p>美，好的，形容长相标致，美丽出众，也指善良，美丽，吉祥之义。如佳丽，佳节，佳人。用作人名意指美好出众、品德好、善良、吉祥。</p>
                            </li>
                            <li>
                                <h5 class="jieshi_h5">用字解释:</h5>
                                <p>美，好的，形容长相标致，美丽出众，也指善良，美丽，吉祥之义。如佳丽，佳节，佳人。用作人名意指美好出众、品德好、善良、吉祥。</p>
                            </li>
                            <li>
                                <h5 class="jieshi_h5">来源解释:</h5>
                                <p>美，好的，形容长相标致，美丽出众，也指善良，美丽，吉祥之义。如佳丽，佳节，佳人。用作人名意指美好出众、品德好、善良、吉祥。</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="sceond_jieshi">
                    <div class="sceond_content">
                        <div class="sceond_name name fl">
                            <h3>佳</h3>
                        </div>
                        <div class="sceond_content neirong fr">
                            <ul>
                                <li>
                                    <h5 class="jieshi_h5">字义解释：</h5>
                                    <p>美，好的，形容长相标致，美丽出众，也指善良，美丽，吉祥之义。如佳丽，佳节，佳人。用作人名意指美好出众、品德好、善良、吉祥。</p>
                                </li>
                                <li>
                                    <h5 class="jieshi_h5">用字解释：</h5>
                                    <p>美，好的，形容长相标致，美丽出众，也指善良，美丽，吉祥之义。如佳丽，佳节，佳人。用作人名意指美好出众、品德好、善良、吉祥。</p>
                                </li>
                                <li>
                                    <h5 class="jieshi_h5">来源解释：</h5>
                                    <p>美，好的，形容长相标致，美丽出众，也指善良，美丽，吉祥之义。如佳丽，佳节，佳人。用作人名意指美好出众、品德好、善良、吉祥。</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="biaoti2"><h4>音形义分析</h4></div>
                <div class="zyfx_zt">
                    <div class="ziyifenxi">
                        <h5 class="zyfx_zt_zyfx">字义分析：</h5>
                    </div>
                    <div class="fenxi_name">
                        <p>歆：喜爱、羡慕、欢欣、歆美,意指如获至宝、怡然自乐、喜出望外</p>
                        <p>荻：喜爱、羡慕、欢欣、歆美,意指如获至宝、怡然自乐、喜出望外</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="list xj_nosee">
            <p>2：</p>
            <p>&nbsp;&nbsp;&nbsp;22</p>
        </div>
        <div class="list xj_nosee">
            <p>3：</p>
            <p>&nbsp;&nbsp;&nbsp;3</p>
        </div>
        <div class="list xj_nosee">
            <p>4：</p>
            <p>&nbsp;&nbsp;&nbsp;4</p>
        </div>
        <div class="list xj_nosee">
            <p>5：</p>
            <p>&nbsp;&nbsp;&nbsp;5</p>
        </div>
        <div class="list xj_nosee">
            <p>6：</p>
            <p>&nbsp;&nbsp;&nbsp;6</p>
        </div>
    </div>
</div>
</div>
</div>
<script type="text/javascript" src="https://s4.cnzz.com/z_stat.php?id=1278749079&web_id=1278749079"></script>
<script type="text/javascript">document.write(unescape("%3Cspan id='cnzz_stat_icon_1278749079'%3E%3C/span%3E%3Cscript src='https://s4.cnzz.com/z_stat.php%3Fid%3D1278749079' type='text/javascript'%3E%3C/script%3E"));</script>
<script type="text/javascript">document.write(unescape("%3Cspan id='cnzz_stat_icon_1278749079'%3E%3C/span%3E%3Cscript src='https://s4.cnzz.com/z_stat.php%3Fid%3D1278749079%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>
</body>
</html>
