<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/dibuad.css">
    <link rel="stylesheet" href="../static/css/pc_qiminggonglue.css">
    <link rel="stylesheet" href="../static/css/quanju.css">
    <title>起名攻略-更专业的宝宝起名平台</title>
    <meta name="keywords" content="免费起名字,宝宝起名网,起名字大全,起名网,取名" />
    <meta name="description" content="起名宝典是以传统周易学、汉语语言文学、诗词国学、统计学(千万级大数据分析)、心理学结合大数据为理论基础,起名宝典主要有男孩起名、女孩起名、诗词起名、传统起名名等在线起名等功能，是起名必备工具!" />
    <link rel="stylesheet" href="../static/css/pc_biaodn_quanju.css">
    <link rel="icon" href="../images/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="../static/css/qiwang_biaoqian.css">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/myDatepicker.css">
    <link rel="stylesheet" href="../static/css/areaStyle.css">
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/myDatepicker.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/qiwangtanchuang.js"></script>
    <script src="../static/js/vue.min.js"></script>
    <script src="../static/js/charfirstPinyin.js"></script>
    <script src="../static/js/area.js"></script>
    <script src="../static/js/m_db_ad_close.js"></script>
</head>
<body>
<div id="dingbuad" class="clearfix">
    <div class="neirong">
        <div class="fl">
            <p>十年只专注一件事情——宝宝起名；以传统周易学为理论基础，结合大数据分析，为您提供最科学的起名方案</p>
        </div>
        <div class="fr closed">
            <img src="../static/images/dbad_closed.svg" alt="">
        </div>
    </div>
</div>
<div id="headnav">
    <div class="nav_neirong">
        <div class="logo fl"></div>
        <div class="right_nav fr">
            <ul class="fl">
                <li><a href="{{ url_for('helloWorld') }}#md_hmbz">好名标准</a></li>
                <li><a href="{{ url_for('helloWorld') }}#md_qmzy">起名注意</a></li>
                <li><a href="{{ url_for('helloWorld') }}#md_ptys">平台优势</a></li>
                <li><a href="{{ url_for('helloWorld') }}#md_qmll">起名理论</a></li>
            </ul>
            {% if vip_tele %}
                <a class="btn fr vip_login_btn" href="#">VIP登录</a>
            {% else %}
                <a class="btn fr vip_login_btn" href="{{ url_for('order_cx') }}">VIP登录</a>
            {% endif %}
        </div>
    </div>
</div>
<div id="breadcrumb">
    <a href="http://127.0.0.1:5000/">首页</a>
    <a href="">起名攻略</a>
</div>
<div id="qmgl_zw">
    <div class="qmgl_zw_list fl">
        {% for i in range(0,len_kk) %}
            <div class="lanmu_list clearfix">
                <div class="lanmu_xiao_bt">
                    <h3 class="fl">{{ lanmu[i].lanmuname }}</h3>
                    <a class="fr" href="{{ url_for('zhuanshu_lanmu',lm_lujin=lanmu[i].lanmu_lujin) }}">查看更多</a>
                </div>
                {% for m in range(i*5,i*5+ 5) %}
                    <a class="wenzhang_list" href="{{ url_for('wzxq',article_idid=article_id[m]) }}">
                        <h5>{{ article_title[m] }}</h5>
                        <p class="artice_author">
                            <span>{{ article_time[m] }}</span>
                            <span>{{ article_author[m] }}</span>
                            <span>阅读:{{ article_yuedu[m] }}</span>
                        </p>
                        <p>{{ article_content[m] }}</p>
                    </a>
                {% endfor %}
            </div>
            <hr>
        {% endfor %}
    </div>
    <div class="biaodan fr">
        <h3>科学·传统</h3>
        <p>一键解决当下取名“难”、“俗”、“大众化”等问题</p>
        <form action="{{ url_for('csjg') }}" method="post" autocomplete="off">
            <ul class="biaodan_neirong">
                <li>
                    <span>请输入姓氏:</span>
                    <div class=" shuru fr">
                        <input class="name" name="xing" required type="text">
                        <label for="biaodan_xb_nan" class="xb_xz_class"><input type="radio" name="xingbie" value="1"
                                                                               id="biaodan_xb_nan"><i></i>男</label>
                        <label for="biaodan__xb_nv" class="xb_xz_class"><input type="radio" name="xingbie" value="0"
                                                                               id="biaodan__xb_nv"><i></i>女</label>
                        <label for="biaodan__xb_nobirth" class="xb_xz_class"><input type="radio" name="xingbie"
                                                                                    value="9" id="biaodan__xb_nobirth"
                                                                                    checked><i></i>未出生</label>
                    </div>
                </li>
                <li>
                    <span>定字(选填):</span>
                    <div class="shuru fr">
                        <input class="dingzhi" name="dingzhi">
                        <label for="biaodan_xz_1"><input type="radio" name="biaodan_xz" value="1"
                                                         id="biaodan_xz_1"><i></i>第1个字</label>
                        <label for="biaodan__xz_2"><input type="radio" name="biaodan_xz" value="2"
                                                          id="biaodan__xz_2"><i></i>第2个字</label>
                        <label for="biaodan__xz_all"><input type="radio" name="biaodan_xz" value="9"
                                                            id="biaodan__xz_all" checked><i></i>包含</label>
                    </div>
                </li>
                <li>
                    <span class="qw_biaoti">期望(选填):</span>
                    <div class="ibox-content shortcut-box guding col-xs-4 col-sm-4 col-md-3 col-lg-3"
                         data-toggle="modal" data-target="#myModal">
                    </div>
                    <div class="qiwangbiaoqian fr">
                        <div class="qw_biaoqian fl">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                    <div class="ibox float-e-margins">
                                        <div class="ibox-content">
                                            <ul class="shortcut-box shortcut-box-dingzi clearfix">
                                                <li class="col-xs-4 col-sm-4 col-md-3 col-lg-3" data-toggle="modal"
                                                    data-target="#myModal">
                                                    <div>
                                                        <i class="fa fa00"></i>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
                                 aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header clearfix mid">
                                            <button type="button" class="close mid" data-d ismiss="modal"
                                                    aria-hidden="true">×
                                            </button>
                                            <h4 class="modal-title shortcut-modal-title mid" id="myModalLabel">
                                                您的期望（建议最多选4个标签）</h4>
                                        </div>
                                        <div class="modal-body shortcut-add-box">
                                            <div class="shortcut-add-box-left">
                                                <ul>
                                                    <li class="active">
                                                        <i class="fa fa01"></i>
                                                        <span>优雅</span>
                                                        <input type="hidden" name="" value="1">
                                                    </li>
                                                    <li>
                                                        <i class="fa fa02"></i>
                                                        <span>爱国</span>
                                                        <input type="hidden" name="" value="2">
                                                    </li>
                                                    <li>
                                                        <i class="fa fa03"></i>
                                                        <span>吉祥</span>
                                                        <input type="hidden" name="" value="3">
                                                    </li>
                                                    <li>
                                                        <i class="fa fa04"></i>
                                                        <span>美好</span>
                                                        <input type="hidden" name="" value="4">
                                                    </li>
                                                    <li>
                                                        <i class="fa fa05"></i>
                                                        <span>明理</span>
                                                        <input type="hidden" name="" value="5">
                                                    </li>
                                                    <li>
                                                        <i class="fa fa06"></i>
                                                        <span>美德</span>
                                                        <input type="hidden" name="" value="7">
                                                    </li>
                                                    <li>
                                                        <i class="fa fa07"></i>
                                                        <span>幸福</span>
                                                        <input type="hidden" name="" value="8">
                                                    </li>
                                                    <li>
                                                        <i class="fa fa08"></i>
                                                        <span>浩大</span>
                                                        <input type="hidden" name="" value="13">
                                                    </li>
                                                    <li>
                                                        <i class="fa fa09"></i>
                                                        <span>英俊</span>
                                                        <input type="hidden" name="" value="14">
                                                    </li>
                                                    <li>
                                                        <i class="fa fa10"></i>
                                                        <span>健壮</span>
                                                        <input type="hidden" name="" value="15">
                                                    </li>
                                                </ul>
                                                <ul>
                                                    <li>
                                                        <i class="fa fa11"></i>
                                                        <span>美丽</span>
                                                        <input type="hidden" name="" value="16">
                                                    </li>
                                                    <li>
                                                        <i class="fa fa12"></i>
                                                        <span>安康</span>
                                                        <input type="hidden" name="" value="17">
                                                    </li>
                                                    <li>
                                                        <i class="fa fa13"></i>
                                                        <span>年轻</span>
                                                        <input type="hidden" name="" value="18">
                                                    </li>
                                                    <li>
                                                        <i class="fa fa14"></i>
                                                        <span>快乐</span>
                                                        <input type="hidden" name="" value="19">
                                                    </li>
                                                    <li>
                                                        <i class="fa fa15"></i>
                                                        <span>灵巧</span>
                                                        <input type="hidden" name="" value="20">
                                                    </li>
                                                    <li>
                                                        <i class="fa fa16"></i>
                                                        <span>勇敢</span>
                                                        <input type="hidden" name="" value="21">
                                                    </li>
                                                    <li>
                                                        <i class="fa fa17"></i>
                                                        <span>坚强</span>
                                                        <input type="hidden" name="" value="22">
                                                    </li>
                                                    <li>
                                                        <i class="fa fa18"></i>
                                                        <span>稳重</span>
                                                        <input type="hidden" name="" value="23">
                                                    </li>
                                                    <li>
                                                        <i class="fa fa19"></i>
                                                        <span>文静</span>
                                                        <input type="hidden" name="" value="24">
                                                    </li>
                                                    <li>
                                                        <i class="fa fa20"></i>
                                                        <span>贤淑</span>
                                                        <input type="hidden" name="" value="25">
                                                    </li>
                                                </ul>
                                                <ul>
                                                    <li>
                                                        <i class="fa fa21"></i>
                                                        <span>才华</span>
                                                        <input type="hidden" name="" value="26">
                                                    </li>
                                                    <li>
                                                        <i class="fa fa22"></i>
                                                        <span>智慧</span>
                                                        <input type="hidden" name="" value="27">
                                                    </li>
                                                    <li>
                                                        <i class="fa fa23"></i>
                                                        <span>谦虚</span>
                                                        <input type="hidden" name="" value="28">
                                                    </li>
                                                    <li>
                                                        <i class="fa fa24"></i>
                                                        <span>正直</span>
                                                        <input type="hidden" name="" value="29">
                                                    </li>
                                                    <li>
                                                        <i class="fa fa25"></i>
                                                        <span>纯洁</span>
                                                        <input type="hidden" name="" value="30">
                                                    </li>
                                                    <li>
                                                        <i class="fa fa26"></i>
                                                        <span>志向</span>
                                                        <input type="hidden" name="" value="31">
                                                    </li>
                                                    <li>
                                                        <i class="fa fa27"></i>
                                                        <span>杰出</span>
                                                        <input type="hidden" name="" value="33">
                                                    </li>
                                                    <li>
                                                        <i class="fa fa28"></i>
                                                        <span>上进心</span>
                                                        <input type="hidden" name="" value="34">
                                                    </li>
                                                    <li>
                                                        <i class="fa fa29"></i>
                                                        <span>财富</span>
                                                        <input type="hidden" name="" value="35">
                                                    </li>
                                                    <li>
                                                        <i class="fa fa30"></i>
                                                        <span>优秀</span>
                                                        <input type="hidden" name="" value="36">
                                                    </li>
                                                </ul>
                                                <ul>
                                                    <li>
                                                        <i class="fa fa31"></i>
                                                        <span>温顺</span>
                                                        <input type="hidden" name="" value="37">
                                                    </li>
                                                    <li>
                                                        <i class="fa fa32"></i>
                                                        <span>担当</span>
                                                        <input type="hidden" name="" value="38">
                                                    </li>
                                                    <li>
                                                        <i class="fa fa33"></i>
                                                        <span>传承</span>
                                                        <input type="hidden" name="" value="40">
                                                    </li>
                                                    <li>
                                                        <i class="fa fa34"></i>
                                                        <span>善良</span>
                                                        <input type="hidden" name="" value="41">
                                                    </li>
                                                    <div class="lanPos" style="top: 0px;"></div>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary" id="shortcutEnter">确认
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--<audio controls="controls" style="display: none;"></audio>-->
                        </div>
                        <div class="daosnajiao fr"></div>
                    </div>
                </li>
                <li>
                    <span id="cssj_js">预产期:</span>
                    <div id="jquery_riqi">
                        <div id="wrap">
                            <div class="input-group">
                                <input type="radio" name="position" id="position-1" value='true' hidden checked>
                                <label for="position-1" class="my-checkbox"></label>
                            </div>
                            <div style='display: block;'>
                                <input type="text" id='date-input' name="birthtime"
                                       style='width:20em;height:42px;display: block;outline: none;border: none'
                                       ;autocomplete="off">
                            </div>
                        </div>
                        <script>
                            //调用日期插件
                            $("#date-input").myDatePicker({
                                'startDate': '1949-01-01 00:00:00',
                                'endDate': (new Date()).Format("yyyy-mm-dd hh:ii:ss"),
                                //指定父元素，不指定默认为body
                                parent: $("#date-input").parent(),
                                //定位方式是否用fixed
                                positionFixed: $("#position-1").is(':checked'),
                            });
                            /**
                             * 监听日期类型变化
                             */
                            ;(function listenDatePicker() {
                                let _radio = $(" input[name='dateType']");
                                let _radio2 = $("input[name='position']");
                                let _input = $(" #date-input");
                                _radio.on('change', function () {
                                    let view = parseInt($(this).val());
                                    // 0 - 4 年 月 日 周 季
                                    _input[0].resetDatePicker({
                                        'view': view,
                                    });
                                    _input.focus();
                                });
                                //重置定位是fixed还是absolute
                                _radio2.on('change', function () {
                                    _input[0].resetDatePicker({
                                        positionFixed: $("#position-1").is(':checked'),
                                    });
                                });
                            })();
                        </script>
                        <div class="daosnajiao fr"></div>
                    </div>
                </li>
                <li>
                    <span>出生地:</span>
                    <div id="chushengdi_jquery">
                        <div class="leftPark">
                            <input type="button" name="birthplace" id="btn1" class="area_input">
                        </div>
                        <script type="text/javascript">
                            $('#btn1').areaSelector();
                        </script>
                        <div class="area_content diqubankuai" id="btn1AreaContent isBlock"
                             style="top: 614.5px; left: 28px;">
                            <div class="area_menu">
                                <ul>
                                    <li class="">省份</li>
                                    <li class="">城市</li>
                                    <li class="isClick">县区</li>
                                </ul>
                            </div>
                            <div class="area_data_content">
                                <div class="area_data data_province">
                                    <div class="data_Part part_one"><a class="part_type">A-G</a>
                                        <ul>
                                            <li><a>北京市<input value="11" style="display:none"></a></li>
                                            <li><a>重庆市<input value="50" style="display:none"></a></li>
                                            <li><a>安徽省<input value="34" style="display:none"></a></li>
                                            <li><a>福建省<input value="35" style="display:none"></a></li>
                                            <li><a>广东省<input value="44" style="display:none"></a></li>
                                            <li><a>广西<input value="45" style="display:none"></a></li>
                                            <li><a>贵州省<input value="52" style="display:none"></a></li>
                                            <li><a>甘肃省<input value="62" style="display:none"></a></li>
                                            <li><a>澳门<input value="82" style="display:none"></a></li>
                                        </ul>
                                    </div>
                                    <div class="data_Part part_two"><a class="part_type">H-N</a>
                                        <ul>
                                            <li><a>河北省<input value="13" style="display:none"></a></li>
                                            <li><a>内蒙古<input value="15" style="display:none"></a></li>
                                            <li><a>辽宁省<input value="21" style="display:none"></a></li>
                                            <li><a>吉林省<input value="22" style="display:none"></a></li>
                                            <li><a>黑龙江省<input value="23" style="display:none"></a></li>
                                            <li><a>江苏省<input value="32" style="display:none"></a></li>
                                            <li><a>江西省<input value="36" style="display:none"></a></li>
                                            <li><a>河南省<input value="41" style="display:none"></a></li>
                                            <li><a>湖北省<input value="42" style="display:none"></a></li>
                                            <li><a>湖南省<input value="43" style="display:none"></a></li>
                                            <li><a>海南省<input value="46" style="display:none"></a></li>
                                            <li><a>宁夏<input value="64" style="display:none"></a></li>
                                        </ul>
                                    </div>
                                    <div class="data_Part part_three isBlock"><a class="part_type">O-U</a>
                                        <ul>
                                            <li><a>天津市<input value="12" style="display:none"></a></li>
                                            <li><a>山西省<input value="14" style="display:none"></a></li>
                                            <li><a>上海市<input value="31" style="display:none"></a></li>
                                            <li><a>山东省<input value="37" style="display:none"></a></li>
                                            <li><a>四川省<input value="51" style="display:none"></a></li>
                                            <li><a>陕西省<input value="61" style="display:none"></a></li>
                                            <li><a>青海<input value="63" style="display:none"></a></li>
                                            <li><a>台湾<input value="71" style="display:none"></a></li>
                                        </ul>
                                    </div>
                                    <div class="data_Part part_four"><a class="part_type part_four">V-Z</a>
                                        <ul>
                                            <li><a>浙江省<input value="33" style="display:none"></a></li>
                                            <li><a>云南省<input value="53" style="display:none"></a></li>
                                            <li><a>西藏<input value="54" style="display:none"></a></li>
                                            <li><a>新疆<input value="65" style="display:none"></a></li>
                                            <li><a>香港<input value="81" style="display:none"></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="area_data data_region">
                                    <div class="data_Part part_one"><a class="part_type">A-G</a>
                                        <ul>
                                            <li><a>高雄<input value="02" style="display:none"></a></li>
                                        </ul>
                                    </div>
                                    <div class="data_Part part_two"><a class="part_type">H-N</a>
                                        <ul>
                                            <li><a>基隆<input value="03" style="display:none"></a></li>
                                            <li><a>嘉义<input value="07" style="display:none"></a></li>
                                            <li><a>苗栗<input value="10" style="display:none"></a></li>
                                            <li><a>南投<input value="12" style="display:none"></a></li>
                                            <li><a>花莲<input value="16" style="display:none"></a></li>
                                        </ul>
                                    </div>
                                    <div class="data_Part part_three isBlock"><a class="part_type">O-U</a>
                                        <ul>
                                            <li><a>台北<input value="01" style="display:none"></a></li>
                                            <li><a>台中<input value="04" style="display:none"></a></li>
                                            <li><a>台南<input value="05" style="display:none"></a></li>
                                            <li><a>桃园<input value="09" style="display:none"></a></li>
                                            <li><a>屏东<input value="14" style="display:none"></a></li>
                                            <li><a>台东<input value="15" style="display:none"></a></li>
                                            <li><a>澎湖<input value="17" style="display:none"></a></li>
                                        </ul>
                                    </div>
                                    <div class="data_Part part_four"><a class="part_type part_four">V-Z</a>
                                        <ul>
                                            <li><a>新竹<input value="06" style="display:none"></a></li>
                                            <li><a>宜兰<input value="08" style="display:none"></a></li>
                                            <li><a>彰化<input value="11" style="display:none"></a></li>
                                            <li><a>云林<input value="13" style="display:none"></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="area_data data_city isBlock">
                                    <div class="data_Part part_one"><a class="part_type">A-G</a>
                                        <ul></ul>
                                    </div>
                                    <div class="data_Part part_two"><a class="part_type">H-N</a>
                                        <ul></ul>
                                    </div>
                                    <div class="data_Part part_three isBlock"><a class="part_type">O-U</a>
                                        <ul></ul>
                                    </div>
                                    <div class="data_Part part_four"><a class="part_type part_four">V-Z</a>
                                        <ul></ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <audio controls="controls" style="display: none;"></audio>
                        <div class="daosnajiao fr"></div>
                    </div>
                </li>
            </ul>
            <input type="submit" id="form_tijiao" name="立即取名" value="立即取名">
        </form>
    </div>
</div>
<div class="clearfix"></div>
<div id="sy_footer">
    <p>弘扬传统文化，破除迷信宿命，倡导科学起名，促进社会和谐。</p>
    <p><span>Copyright © 2013-2020&nbsp;&nbsp;</span><a href="http://www.qmg365.com/">起名宝典</a>&nbsp;&nbsp;(本网站部分图片和视频来源于网络，如有侵权，请及时联系我们删除)。<a
            href="#" rel="nofollow" target="_blank">&nbsp;&nbsp;渝ICP备20002651号&nbsp;&nbsp;</a></p>
</div>
</body>
</html>