<!--付费弹窗-->
<div id="pay_tanchuang">
    <div class="pay_bj">
        <div class="pay_left">
            <img class="vip_icon" src="../static/images/vip_icon.svg" alt="">
            <h3>开通起名<span>VIP</span></h3>
            <p class="vip_icon_p">查看更多完整起名报告</p>
            <ul>
                <li>
                    <div class="vip_list"></div>
                    <h5>专业</h5>
                    <p class="list_p">多年起名经验 大数据智能算法</p>
                </li>
                <li>
                    <div class="vip_list"></div>
                    <h5>专业</h5>
                    <p class="list_p">多年起名经验 大数据智能算法</p>
                </li>
                <li>
                    <div class="vip_list"></div>
                    <h5>专业</h5>
                    <p class="list_p">多年起名经验 大数据智能算法</p>
                </li>
                <li>
                    <div class="vip_list"></div>
                    <h5>专业</h5>
                    <p class="list_p">多年起名经验 大数据智能算法</p>
                </li>

            </ul>
        </div>
        <div class="pay_right">
            <img src="../static/images/pay_tc_close.svg" alt="">
            <h3 class="pay_fangshi">请选择支付方式</h3>
            <p class="pay_mony">支付金额:<span>¥8.90元</span></p>
            <div class="wechat_pay">
                <div class="wechat_code"></div>
                <div class="wechat_pay_icon">
                    <img class="wechat_icon" src="../static/images/wechat_icon.svg" alt="">
                    <p>微信支付</p>
                </div>
            </div>
            <div class="wechat_pay">
                <div class="wechat_code"></div>
                <div class="wechat_pay_icon">
                    <img class="wechat_icon" src="../static/images/zfb_icon.svg" alt="">
                    <p>支付宝支付</p>
                </div>
            </div>
        </div>
    </div>
</div>